/* styling for the Projects page */
.main {
  height: calc(100vh);
  padding-top: 100px;
  background-color: #dadbc0;
  color: #626060;
  display: flex;
  flex-direction: column;
  align-items: center;
}
