
/*
CSS reset code 
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: black;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/* Beginning of my code */

/* universal styling */
* {
  font-family: 'Courier New', Courier, monospace;
  color: #E7E9DE;
  background: #626060;
}

/* nav bar styling */

a {
  color: inherit;
  text-decoration: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

.navTags {
  font-size: 20px;
  margin-right: 10px;
  margin-top: 5spx;
}

a:hover {
  color: wheat;
}

.navLogo {
  background-color: #626060;
  font-size: 20px;
}

.navBar {
  background: #626060;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: calc(100vw);
  padding: 30px;
  position: fixed;
  z-index: 2;
}

/* Home Screen styling */

.homeScreen {
  background: #626060;
  height: calc(100vh);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  background: #626060;
  text-align: center;
  font-size: 50px;
  font-weight: lighter;
  padding: 100px 50px;
}

/* about me page styling */

#aboutMe {
  background: #DADBC0;
  position: relative;
  width: 100vw;
  height: 1200px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
} 

.description {
  color: #626060;
  background-color: #DADBC0;
  display: flex;
  font-size: 20px;
  text-align: justify;
  position: relative;
  height: auto;
  width: 350px;
  bottom: 18px;
  left: 25px;
}

.headshot {
  height: auto;
  width: 300px;
  border: 4px solid #626060;
  border-radius: 20px;
  position: relative;
  top: 18px;
  left: 45px;
  display: flex;
}

/* Footer styling */

footer {
  background-color: #626060;
  height: 500px;
  width: 100vw;
  display: flex;
  position: absolute;
  flex-direction: column;
  /* border: 2px solid yellow; */
}

/* styling meant for desktop styling */

.rightFooter {
  /* border: 2px solid blueviolet; */
  width: 100vw;
  height: 50%;
  display: flex;
  flex-direction: column;
}

/* social media footer section styling */

.footerLogo {
  width: 100vw;
  height: 124px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 40px;
  /* border: 2px solid red; */
}

.socialsLogo {
  width: 100vw;
  height: 124px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.socialsLogo img {
  width: 60px;
  height: 60px;
}

/* contact me portion of footer styling */

.contactMe {
  width: 100vw;
  height: 50%;
  margin-top: 18px;
  /* border: 1px solid paleturquoise; */
}

/* styling for the "contact" header */
.contactMe h4 {
  width: 100vw;
  font-size: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid red; */
}

/* styling for the email */
.contactMe h5 {
  width: 100vw;
  font-size: 22px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

/* Styling for the page when the screen size is over 820px */

@media (min-width: 820px) { 

  /* nav bar styling over 820px */
  .navBar {
    width: 100vw;
    height: 150px;
  }

  .navLogo {
    font-size: 35px;
    margin-left: 20px;
  }

  .navTags {
    font-size: 35px;
    margin-right: 50px;
  }

  /* Home page styling for over 820px */
  .intro {
    font-size: 90px;
    flex-wrap: wrap;
  }

  /* About me page styling for over 820px */
  #aboutMe {
    height: 1500px;
    align-items: center;
  }

   .headshot {
    top: 30px;
    left: 0px;
  }

  .description {
    font-size: 30px;
    background: none;
    width: 75%;
    height: auto;
    left: 0px;
    bottom: 30px;
    text-align: justify;
  }

  /* footer styling for over 820px */

  footer {
    height: 650px;
  }

  .socialsLogo img {
    width: 90px;
    height: 90px;
  }

  .footerLogo {
    font-size: 60px;
    margin: 20px 0 0 0;
  }

  .contactMe {
    margin-top: 20px;
  }

  .contactMe h4 {
    font-size: 60px;
  }

  .contactMe h5 {
    font-size: 40px;
  }

}

/* styling for desktop and larger screens for 1024 px and bigger */

@media (min-width: 1024px) {
  
  /* navbar styling for 1024px and above */
  .navBar {
    height: 100px;
  }

  .navLogo {
    font-size: 25px;
  }

  .navTags {
    font-size: 25px;
  }

  /* home screen stlying for 1024px and above */
  .intro {
    font-size: 78px;
  }

  /* about me page styling for 1024px and above */

  /* we're going to make the text wrap with this one  */

}